head,body{
    margin:0;
    padding:0;
    
}
h1{
    font-style: italic;
}

.paraStall{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(121, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.paraStall > div{
    width : 50%;
    height: 50px;;
    background-color: aquamarine;
    border-radius: 10px;
    margin:10px;
    text-align: center;
    
}
.child1,.child2,.child3,.child4,.child5{
    display: flex;
    align-items: stretch;
}
.head1,.head2,.head3,.head4,.head5{
    margin:0;
}
.para1,.para2,.para3,.para4,.para5{
    margin-top: 0;
}
.enterImage1,.enterImage2,.enterImage3,.enterImage4,.enterImage5{
    border-radius: 10px;
}